@using Microsoft.AspNet.Identity.EntityFramework
@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>
@{
    ViewBag.Title = "Index";
}
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title fa fa-lock"> | <b>Lista uprawnień</b></h3>
                    <hr/>
                </div>
                <div class="box-body">
                    @foreach (IdentityRole role in Model)
                    {
                        <div>
                            <h5>
                                <b>@role.Name</b>
                                @Html.ActionLink("Wyświetl użytkowników", "GetUsersForRole", new { roleName = @role.Name }, new { @class = "btn btn-danger", style = "margin-left: 20px;" })
                            </h5>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>