@using System.Globalization
@using HotelManagementService.Enums
@using HotelManagementService.Models
@using HotelManagementService.ViewModels
<!-- Main content -->

@{
    DateTime firstdayOfWeek = DateTime.Now;

    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box" style="width: -moz-max-content; width: -webkit-max-content; width: max-content;">
                    <div class=" box-header">
                        <h3 class="box-title">Grafik</h3>
                    </div>
                    <div class="box-body">
                        <table id="tableConf" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th id="bt_prev" style="border: none; text-align: center; vertical-align: middle;">
                                        <img id="bt_prev_img" src="~/Images/br_prev.png">
                                    </th>
                                    <th id="refreshHeader" colspan=" 6" style="border: none; text-align: center"> </th>
                                    <th id="bt_next" style="border: none; text-align: center; vertical-align: middle;">
                                        <img id="bt_next_img" src="~/Images/br_next.png">
                                    </th>
                                </tr>
                                <tr id="refreshComponents" role="row">
                                    <th class="sorting_disabled">Nazwa pokoju</th>
                                    <th class="sorting_disabled removeCompontents"></th>
                                </tr>
                            </thead>
                            <tbody id="refreshbody">
                                <tr class="removeBody">
                                    
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td style="text-align: right"><b><u>Legenda:</u></b></td>
                                    <td style="background: #0066ff; color: white; text-align: center">Pobyt</td>
                                    <td style="background: #ff0000; color: white; text-align: center">Niepotwierdzona</td>
                                    <td style="background: #ff6600; color: white; text-align: center">Odwołana</td>
                                    <td style="background: #a6a6a6; color: white; text-align: center">Zamknięta</td>
                                    <td style="background: #009900; color: white; text-align: center">Zatwierdzona</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div><!-- /.box-body -->
                  
                </div><!-- /.box -->
            </div><!-- /.col -->
        </div><!-- /.row -->
    </section>
    <!-- /.content -->
}
@section scripts{
    @Scripts.Render("~/bundles/jquery")
    @*@Scripts.Render("~/bundles/jquery.dataTables")*@

    <script>
        $(document).ready(function() {
            var d = new Date();


            var days = [
                "Niedziela","Poniedziałek", "Wtorek", "Środa", "Czwartek", "Piątek", "Sobota"
            ];
            var months = [
                "Styczeń", "Luty", "Marzec", "Kwiecień", "Maj", "Czerwiec",
                "Lipiec", "Sierpień", "Wrzesień", "Październik", "Listopad", "Grudzień"
            ];

            function incrementDate(i) {
                d.setDate(d.getDate() + i);
            };

            function decrementDate(i) {
                d.setDate(d.getDate() - i);
            };

            function acctualWeekHeader() {
                $('#refreshHeader').remove("#removeHeader").html('<h2 id="removeHeader">' + months[d.getMonth()] + ' ' + d.getFullYear() + '</h2><h3 id="removeHeader">' + d.getDate() + '.' + (d.getMonth() + 1) + '-' + '<b id="removeHeader" style="display: none">' + incrementDate(6) + '</b>' + d.getDate() + '.' + (d.getMonth() + 1) + '<b id="removeHeader" style="display: none">' + decrementDate(6) + '</b>' + '</h3>');
            };

            function acctualWeekComponents() {
                var i = 0;
                $('.removeCompontents').each(function()  {
                    $(this).remove();
                });
                for (i = 0; i < 7; i++) {
                    $('#refreshComponents').append('<th rowspan="1" colspan="1" class="removeCompontents" style="text-align: center" >' + days[d.getDay()] + '</br> ' + d.getDate() + '.' + (d.getMonth() + 1) + '<b style="display: none">' + incrementDate(1) + '</b>' + '</th>');
                }
                decrementDate(7);
            };

            function acctualWeekBody() {
                $(".removeBody").each(function () {
                    $(this).remove();
                });

                var dd = d.getDate();
                var mm = d.getMonth() + 1; //January is 0!

                var yyyy = d.getFullYear();
                if (dd < 10) {
                    dd = '0' + dd;
                }
                if (mm < 10) {
                    mm = '0' + mm;
                }
                var acctualDay = yyyy + '/' + mm + '/' + dd;

                $.ajax({
                    url: '/Home/WeekEvent/?Date=' + acctualDay,
                    dataType: "html",
                    success: function (data) {
                        $("#refreshbody").html(data);
                    }
                });

                
            };
            acctualWeekHeader();
            acctualWeekComponents();
            acctualWeekBody();
            //var table = $('#tableConf').DataTable({
            //    "bSort": false,
            //    "bFilter": false,
            //    "paging": false,
            //    "info": false
            //});
          
            
            //$("#tableConf tfoot th").each(function() {
            //    if ($(this).index() == (0)) {
            //        var title = $("#tableConf thead th").eq($(this).index()).text();
            //        title = title.toLowerCase().replace(/\s+/, "");
            //        $(this).html('<input type="text" placeholder=" Filtruj ' + title + '" />');
            //    }
            //});
            //table.columns().eq(0).each(function(colIdx) {
            //    $("input", table.column(colIdx).footer()).on("keyup change", function() {
            //        table.column(colIdx).search(this.value).draw();
            //    });
            //});
            

            $("#bt_next_img").click(function() {

                d.setDate(d.getDate() + 7);
                acctualWeekHeader();
                acctualWeekComponents();
                acctualWeekBody();
            });
            $("#bt_prev_img").click(function() {

                d.setDate(d.getDate() - 7);
                acctualWeekHeader();
                acctualWeekComponents();
                acctualWeekBody();               
            });
        })
    </script>
}